<md-data-table-toolbar>
  <h2 class="md-title">Users</h2>
</md-data-table-toolbar>

<md-data-table-container>
  <table md-data-table>
    <thead md-table-head>
      <tr>
        <th name="Name">Name</th>
        <th name="Email">Email</th>
        <th name="Admin">Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select>
        <td>Admin</td>
        <td>admin@email.com</td>
        <td><md-switch ng-model="true" aria-checked="true" aria-label="Switch 1"></md-switch></td>
      </tr>
      <tr ng-click="showProfile()">
        <td>User 1</td>
        <td>user1@email.com</td>
        <td>
          <md-switch aria-label="Switch 1"></md-switch>
        </td>
      </tr>
      <tr md-auto-select>
        <td>User 2</td>
        <td>user2@email.com</td>
        <td><md-switch aria-label="Switch 1"></md-switch></td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>
