<md-content layout-padding class="autoScroll">
  <form name="registerForm" novalidate>
  <md-input-container>
    <label>Name</label>
    <input ng-model="name" name="name" type="text" required>
    <div ng-messages="registerForm.name.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Username</label>
    <input ng-model="username" name="username" type="text" ng-required="true">
    <div ng-messages="registerForm.username.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Email</label>
    <input ng-model="email" name="email" type="email" ng-required="true">
    <div ng-messages="registerForm.email.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input name="real_pwd" name="real_pwd" ng-model="real_pwd" type="password" ng-required="true">
    <div ng-messages="registerForm.real_pwd.$error">
      <div ng-message="required">This is required.</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Retype Password</label>
    <input name="real_pwd2" name="real_pwd2" ng-model="real_pwd2" type="password" ng-required="true">
    <div ng-messages="registerForm.real_pwd2.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
    </div>
  </md-input-container>

  <input type="hidden" name="password">

  <md-button class="md-raised" ng-click="submit()">Register</md-button>
</form>
</md-content>
