<md-content layout-padding class="autoScroll">
  <form name="registerForm">
  <md-input-container class="md-icon-float">
    <!-- Use floating label instead of placeholder -->
    <label>Name</label>
    <md-icon class="name"></md-icon>
    <input ng-model="user.name" type="text" ng-required="true">
  </md-input-container>
  <md-input-container class="md-icon-float">
    <label>Username</label>
    <md-icon></md-icon>
    <input ng-model="user.phone" type="text" ng-required="true">
  </md-input-container>
  <md-input-container class="md-icon-float">
    <label>Email</label>
    <!-- Use floating placeholder instead of label -->
    <md-icon class="email"></md-icon>
    <input ng-model="user.email" type="email" ng-required="true">
  </md-input-container>
  <md-input-container class="md-icon-float">
    <label>Password</label>
    <md-icon style="display:inline-block;"></md-icon>
    <input name="real_pwd" type="password" ng-required="true">
  </md-input-container>
  <md-input-container class="md-icon-float">
    <label>Retype Password</label>
    <md-icon style="display:inline-block;"></md-icon>
    <input name="real_pwd2" type="password" ng-required="true">
  </md-input-container>

  <input type="hidden" name="password">

  <md-button class="md-raised" ui-sref="manage">Register</md-button>
</form>
</md-content>
